<header>
    <div class="container">
        <a routerLink="/" class="logo">food Mine</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <div class="menu-container">
                        <a routerLink="/dashboard">Afaque</a>
                        <div class="menu">
                            <span>
                                <a routerLink="/profile">Profile</a>
                            </span>
                            <span>
                                <a routerLink="/orders">Orders</a>
                            </span>
                            <span>
                                <a>Logout</a>
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">cart
                        <span>3</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
